
.table id, .table th {
	border: 1px solid #ccc;
	padding: 5px 10px;

}

.table {
	border-collapse: collapse;
	width: 500px;
	font-size: 20px;
}

.table thead {
	background-color: #f0f1f4;
	color: #000;
}

.table tfoot {
	background-color: #121212;
	color: #fff;
	text-align: right;
}