@import url("blocks/header.css");
@import url("blocks/top-section.css");
@import url("blocks/title-section.css");
@import url("blocks/product-section.css");
@import url("blocks/info-section.css");
@import url("blocks/slider-section.css");
@import url("blocks/bold-title-section.css");
@import url("blocks/bottom-section.css");
@import url("blocks/footer.css");

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Geist:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	width: 98vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	overflow-x: hidden;
}

.main{
	width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	gap: 15px;
}

.green-link{
	color: #006450;
	text-decoration: none;
	font-family: Roboto;
	font-size: 16px;
	text-shadow: 0 4 4 #0000004b;
	transition: 0.1s;
}

.green-link:hover{
	color: #003e32;
	transition: 0.1s;
}