.text {
	width: 60%;
	border: 1px solid black;
	padding: 10px;
}

.text1 {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.text2 {
	overflow: hidden;
	text-overflow: clip;
	white-space: nowrap;
}
