.bold-title-section{
	width: 1390px;
	height: 485px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-top: 2px solid #006450;
	position: relative;
	left: -20px;
}

.bold-title{
	width: 830px;
	height: 267px;
	font-family: Roboto;
	font-weight: 700;
	font-size: 72px;
	letter-spacing: 0.4px;
	text-align: center;
	color: #006450;
}