.bottom-section{
	width: 1440px;
	height: 675px;
	background-image: url("../assets/bottom-img.png");
	display: flex;
	flex-direction: column;
	align-items: center;
}

.bottom-section-title{
	width: 1127px;
	height: 124px;
	position: relative;
	top: 200px;
	font-family: Roboto;
	font-weight: 700;
	font-size: 56px;
	letter-spacing: 0.4px;
	text-align: center;
	color: #006450;
}

.bottom-section-btn{
	width: 205px;
	height: 56px;
	position: relative;
	top: 250px;
	background-color: transparent;
	text-align: center;
	border: 2px solid #006450;
	font-family: Roboto;
	font-weight: 300;
	font-size: 18px;
	cursor: pointer;
	transition: 0.2s;
}

.bottom-section-btn:hover{
	color: white;
	background-color: #006450;
	transition: 0.2s;
}