.slider-section{
	width: 1440px;
	height: 542px;
	border-top: 2px solid #006450;
}

.slider-section-space{
	width: 100px;
	height: 20px;
	background-color: white;
	position: absolute; 
	top: 4950px;
	left: 1437px;
}

.slider-section-text-wrap{
	width: 1390px;
	height: 320px;
	position: absolute;
	left: 64px;
	display: flex;
	flex-direction: column;
	align-items: center;
	transition: 0.5s;
}

.unchoice-wrap{
	left: 64px;
	top: 4955px;
	display: none;
	transition: 0.5s;
}

.slider-section-title{
	width: 280px;
	height: 44px;
	position: relative;
	top: 50px;
	left: 0px;
	color: #00C08B;
	font-family: Roboto;
	font-weight: 400;
	font-size: 36px;
	letter-spacing: 0.4px;
	text-align: center;
	transition: 0.4s;
}

.slider-section-text{
	width: 777px;
	height: 248px;
	position: relative;
	top: -10px;
	left: 20px;
	color: #006450;
	font-family: Roboto;
	font-weight: 400;
	font-size: 56px;
	letter-spacing: 0.4px;
	text-align: center;
	transition: 0.7s;
}

.invisible-text{
	color: transparent;
	transition: 0.7s
}

.slider-section-mini-title{
	width: 146px;
	height: 16px;
	position: relative;
	top: 480px;
	color: #006450;
	font-family: Roboto;
	font-size: 24px;
	font-weight: 400;
	letter-spacing: 0.4px;
}

.slider-section-rectangle-wrap{
	width: 80px;
	height: 10px;
	position: relative;
	left: 680px;
	top: 442px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.slider-section-rectangle{
	width: 10px;
	height: 10px;
	border: 1px solid #006450;
	transition: 0.3s;
}

.slider-section-rectangle-full{
	background-color: #006450;
	transition: 0.3s;
}
