body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #333;
	text-indent: 1.5;
}

.title {
	font-size: 40px;
	color: #f03333;
	text-indent: 1.2;
}

.subtitle {
	font-size: 30px;
	color: #12ac11;
	text-indent: 1.2;	
}

.list {
	font-size: 20px;
	color: #444;
	font-style: italic;
	list-style: square;
}