header {
	position: absolute;
	top: 0;
	width: 100%;
	background-color: lightblue;
	color: black;
	text-align: center;
}

main {
	position: fixed;
	top: 90px;
	bottom: 50px;
	left: 40px;
	right: 40px;
	background-color: aqua;
	color: black;
	padding: 10px;
	font-size: 20px;
}